.navbar{
    display: flex;
    width: 100vw;
    align-items: center;
    box-shadow: 0 0 4px  black;
}
.navbar h1{
    margin: 0 auto 0 0;
    font-size: x-small;
}
.navbar input{
    height: 50%;

}
.news{
    display: grid;
    width: 100vw;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(340px,1fr));
    grid-row-gap:2em;
    margin-top: 2rem;
}